* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  display: flex;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.5);
  transition: 0.5s;
}

a:hover {
  color: whitesmoke;
}

nav {
  position: fixed;
  background-color: rgb(128, 0, 128);
  width: 100%;
  color: whitesmoke;
}

.d-flex-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.judulnavbar {
  padding: 10px;
}

.linknavbar > ul > li > a {
  padding: 10px;
  font-size: 14px;
}

.sosmednavbar > ul > li > a {
  padding: 5px;
}

.container {
  display: grid;
  position: relative;
  top: 70px;
  grid-template-areas:
    "header header"
    "main aside"
    "main aside"
    "footer footer";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

/* RESPONSIVE WIDTH 576PX */
@media (max-width: 576px) {
  .d-flex-top {
    display: grid;
    grid-template-areas:
      "judul"
      "link"
      "sosmed";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .judulnavbar {
    grid-area: judul;
    display: flex;
    place-content: center;
    place-items: center;
  }

  .linknavbar {
    grid-area: sosmed;
    display: flex;
    place-content: center;
    place-items: center;
  }

  .sosmednavbar {
    grid-area: link;
    display: flex;
    place-content: center;
    place-items: center;
  }

  .container {
    top: 180px;
  }
}
